.navbar {
    margin-left: 150px;
    margin-right: 150px;
}

.margin-left {
    margin-right: 15px
}

.login-form {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    right: 0;
    width: 500px;
    padding: 50px;
    z-index: 1;
    bottom: 0;
    top: 7vh;
}

.white-font-clr {
    color: aliceblue !important;
    font-weight: bold !important;

}

.Login {
    display: none;
}

.Register {
    display : none;
}

.close-auth-form {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.container {
    height: 92vh;
}